:root {
    --pink: #ECCCFF;
}

#aboutBodyContainer {
    margin-bottom: 10rem;
    margin-left: 16vw;
    width: 70vw;
    text-align: right;
}


#profilePic {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    transform: translateY(-1rem);
}

#intro {
    /* intro line code here */
}

#introName{
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: var(--orange);
    transform: translateY(-1.3rem);
}

#bio{
    transform: translateY(-1rem);
}


