:root {
    --pink: #ECCCFF;
}

#aboutBodyContainer {
    margin-bottom: 10rem;
    margin-left: 16vw;
    width: 70vw;
    font-family: 'Lato';
    text-align: right;
}


#profilePic {
    display: block;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    transform: translateY(-1rem);
}

#intro {
    /* intro line code here */
}

#introName{
    font-family: 'Poppins';
    font-size: 1.5rem;
    color: var(--orange);
    transform: translateY(-1.3rem);
}

.description{
    transform: translateY(-1rem);
    word-spacing: 0.1rem;
    letter-spacing: 0.5px;
    line-height: 2;
}


.line-break {
    display: block;
    background: linear-gradient(90deg,#ffffff00 , var(--orange) 40%,var(--orange) 60%, #ffffff00);
    height: 0.15rem;
    width: 70vw;
}